In [1]:
import os

# Replace "../../../../" with the actual absolute path to your home directory
home_directory = "../../../../"
os.environ["SPARK_HOME"] = os.path.join(home_directory, "spark-3.3.2-bin-hadoop3")
spark_python = os.path.join(os.environ["SPARK_HOME"], "python")
py4j_path = os.path.join(spark_python, "lib", "py4j-*.zip")

In [4]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Homework_5") \
    .getOrCreate()
spark

## Download CSV file from dataframe

In [5]:
# Create the directory (replace "data" with your desired directory name)
!mkdir data

# Download the file with the directory included in the path
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz -O "data/fhv_tripdata_2019-10.csv.gz"

mkdir: cannot create directory ‘data’: File exists
--2024-02-26 11:53:49--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240226T105349Z&X-Amz-Expires=300&X-Amz-Signature=f96b349b6a1cf2e0fb48fc212e455e8da09bfd60c3f64b05221408733421a161&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-26 11:53:50--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240226T105349Z&X-Amz-Expires=300&X-Amz-Signature=f96b349b6a1cf2e0fb48fc212e455e8da09bfd60c3f64b05221408733421a161&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘data/fhv_tripdata_2019-10.csv.gz’

data/fhv_tripdata_2 100%[===================>]  18.48M   709KB/s    in 40s

2024-02-26 11:54:31 (476 KB/s) - ‘data/fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [8]:
# Define path to the file, including the .gz extension
file_path = "data/fhv_tripdata_2019-10.csv.gz"

# Read the data as a DataFrame with options for header and compression
# df = spark.read.option("header", True).option("compression", "gzip").csv(file_path)
df = spark.read.option("header", "true").option("compression", "gzip").option("inferSchema", "true").csv(file_path)


# Show the schema and the first few rows (optional)
df.printSchema()
df.show(3)

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 3 rows

## Repartition the Dataframe to 6 partitions and save it to parquet.

In [11]:
df =  df.repartition(6)
df.write.parquet('fhv_2019/10/')

### What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

In [13]:
!du -ch fhv_2019/10/*.parquet

6.4M	fhv_2019/10/part-00000-c78c3202-fec9-46d8-926b-b698bb31288e-c000.snappy.parquet
6.4M	fhv_2019/10/part-00001-c78c3202-fec9-46d8-926b-b698bb31288e-c000.snappy.parquet
6.4M	fhv_2019/10/part-00002-c78c3202-fec9-46d8-926b-b698bb31288e-c000.snappy.parquet
6.4M	fhv_2019/10/part-00003-c78c3202-fec9-46d8-926b-b698bb31288e-c000.snappy.parquet
6.4M	fhv_2019/10/part-00004-c78c3202-fec9-46d8-926b-b698bb31288e-c000.snappy.parquet
6.4M	fhv_2019/10/part-00005-c78c3202-fec9-46d8-926b-b698bb31288e-c000.snappy.parquet
39M	total

## Register the DataFrame as a Temporary Table

In [14]:
# Register the DataFrame as a Temporary Table
df.createOrReplaceTempView("fhv_2019_10_table")

In [15]:
# Select all a few rows to confirm table exist
result = spark.sql("SELECT * FROM fhv_2019_10_table LIMIT 5")

result.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02546|2019-10-04 12:01:47|2019-10-04 12:15:31|         264|         247|   null|                B02546|
|              B01338|2019-10-04 19:07:06|2019-10-04 19:21:39|         264|         220|   null|                B01338|
|              B00445|2019-10-07 03:54:41|2019-10-07 04:02:41|         252|         138|   null|                B00445|
|     B01711         |2019-10-20 14:53:46|2019-10-20 15:07:34|          73|          92|   null|       B01711         |
|              B01485|2019-10-03 09:57:20|2019-10-03 10:04:48|         264|          91|   null|                B01485|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+

## Count records

*How many taxi trips were there on the 15th of October?*

*Consider only trips that started on the 15th of October.*

In [18]:
result = spark.sql("SELECT COUNT(*) FROM fhv_2019_10_table WHERE pickup_datetime BETWEEN '2019-10-15 00:00:00' AND '2019-10-15 23:59:59'")
result.show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

*Longest trip for each day*

*What is the length of the longest trip in the dataset in hours?*

In [21]:
result = spark.sql("""
WITH table_time_dif AS
    (SELECT (pickup_datetime - dropOff_datetime) / 3600 AS time_difference_in_hours FROM fhv_2019_10_table)
SELECT MAX(time_difference_in_hours) FROM table_time_dif
"""
                  )
result.show()

+-----------------------------+
|max(time_difference_in_hours)|
+-----------------------------+
|         INTERVAL '-0 00:0...|
+-----------------------------+

In [26]:
result = spark.sql("""
SELECT (dropOff_datetime - pickup_datetime) / 3600 AS time_difference_in_hours FROM fhv_2019_10_table LIMIT 10
"""
)
result.show()

+------------------------+
|time_difference_in_hours|
+------------------------+
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
|    INTERVAL '0 00:00...|
+------------------------+

In [30]:
from pyspark.sql.functions import col

# Subtract 'pick_up_time' from 'drop_off_time' to create a new column 'duration'
df = df.withColumn("duration_sec", col("dropOff_datetime").cast("long") - col("pickup_datetime").cast("long"))

# Show the resulting DataFrame
df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|duration|duration_sec|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------+------------+
|              B02546|2019-10-04 12:01:47|2019-10-04 12:15:31|         264|         247|   null|                B02546|     824|         824|
|              B01338|2019-10-04 19:07:06|2019-10-04 19:21:39|         264|         220|   null|                B01338|     873|         873|
|              B00445|2019-10-07 03:54:41|2019-10-07 04:02:41|         252|         138|   null|                B00445|     480|         480|
|     B01711         |2019-10-20 14:53:46|2019-10-20 15:07:34|          73|          92|   null|       B01711         |     828|         828|
|              B01485|2019-10-03 09:57:20|2019-10-03 10:04:48|         264|          91|   null|                B01485|     448|         448|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------+------------+
only showing top 5 rows

In [31]:
# Register the DataFrame as a Temporary Table
df.createOrReplaceTempView("fhv_2019_10_table")

In [32]:
# Select all a few rows to confirm table exist
result = spark.sql("SELECT MAX(duration_sec / 3600) AS maximum_duration FROM fhv_2019_10_table")

result.show()

+----------------+
|maximum_duration|
+----------------+
|        631152.5|
+----------------+

## Least frequent pickup location zone
*Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?*

In [33]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -O "data/taxi_zone_lookup.csv"

--2024-02-26 13:43:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240226T124305Z&X-Amz-Expires=300&X-Amz-Signature=36660a309c701a4a08dda33a370da307024665cc34fce46d9eb81c0c04236ae1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-02-26 13:43:06--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240226T124305Z&X-Amz-Expires=300&X-Amz-Signature=36660a309c701a4a08dda33a370da307024665cc34fce46d9eb81c0c04236ae1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘data/taxi_zone_lookup.csv’

data/taxi_zone_look 100%[===================>]  12.03K  --.-KB/s    in 0.004s

2024-02-26 13:43:08 (3.25 MB/s) - ‘data/taxi_zone_lookup.csv’ saved [12322/12322]

In [34]:
!head -10 data/taxi_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [35]:
# Define path to the file, including the .gz extension
file_path = "data/taxi_zone_lookup.csv"

# Read the data as a DataFrame with options for header 
df_zone = spark.read.option("header", "true").option("inferSchema", "true").csv(file_path)


# Show the schema and the first few rows (optional)
df_zone.printSchema()
df_zone.show(3)

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+
only showing top 3 rows

In [40]:
# Register the zone DataFrame as a Temporary Table
df_zone.createOrReplaceTempView("zone_table")

In [43]:
result = spark.sql("""
WITH pickup_count AS 
    (SELECT PUlocationID, COUNT(*) AS PUlocationID_count
    FROM fhv_2019_10_table
    GROUP BY PUlocationID
    ORDER BY PUlocationID_count DESC 
    )
    SELECT t2.zone, t1.PUlocationID, t1.PUlocationID_count
    FROM pickup_count AS t1
    INNER JOIN zone_table AS t2
    ON t1.PUlocationID = t2.LocationID
    ORDER BY t1.PUlocationID_count 
""")

result.show()

+--------------------+------------+------------------+
|                zone|PUlocationID|PUlocationID_count|
+--------------------+------------+------------------+
|         Jamaica Bay|           2|                 1|
|Governor's Island...|         105|                 2|
| Green-Wood Cemetery|         111|                 5|
|       Broad Channel|          30|                 8|
|     Highbridge Park|         120|                14|
|        Battery Park|          12|                15|
|Saint Michaels Ce...|         207|                23|
|Breezy Point/Fort...|          27|                25|
|Marine Park/Floyd...|         154|                26|
|        Astoria Park|           8|                29|
|    Inwood Hill Park|         128|                39|
|       Willets Point|         253|                47|
|Forest Park/Highl...|          96|                53|
|  Brooklyn Navy Yard|          34|                57|
|        Crotona Park|          59|                62|
|        Country Club|          58|                77|
|     Freshkills Park|          99|                89|
|       Prospect Park|         190|                98|
|     Columbia Street|          54|               105|
|  South Williamsburg|         217|               110|
+--------------------+------------+------------------+
only showing top 20 rows

In [44]:
spark.stop()