In [32]:
import os

# Replace "../../../../" with the actual absolute path to your home directory
home_directory = "../../../../"
os.environ["SPARK_HOME"] = os.path.join(home_directory, "spark-3.3.2-bin-hadoop3")

In [33]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [7]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-01.parquet

--2024-02-22 12:55:24--  https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.181, 18.239.38.83, 18.239.38.147, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.181|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 308924937 (295M) [application/x-www-form-urlencoded]
Saving to: ‘fhvhv_tripdata_2021-01.parquet’

fhvhv_tripdata_2021 100%[===================>] 294.61M  1.24MB/s    in 4m 10s

2024-02-22 12:59:35 (1.18 MB/s) - ‘fhvhv_tripdata_2021-01.parquet’ saved [308924937/308924937]

In [34]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('spark_parquet_csv_dataframe') \
    .getOrCreate()
df = spark.read \
    .option("header", "true") \
    .parquet('fhvhv_tripdata_2021-01.parquet')

In [35]:
df.head(2)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', originating_base_num='B02682', request_datetime=datetime.datetime(2021, 1, 1, 1, 28, 9), on_scene_datetime=datetime.datetime(2021, 1, 1, 1, 31, 42), pickup_datetime=datetime.datetime(2021, 1, 1, 1, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 49, 7), PULocationID=230, DOLocationID=166, trip_miles=5.26, trip_time=923, base_passenger_fare=22.28, tolls=0.0, bcf=0.67, sales_tax=1.98, congestion_surcharge=2.75, airport_fee=None, tips=0.0, driver_pay=14.99, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=' ', wav_request_flag='N', wav_match_flag='N'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', originating_base_num='B02682', request_datetime=datetime.datetime(2021, 1, 1, 1, 45, 56), on_scene_datetime=datetime.datetime(2021, 1, 1, 1, 55, 19), pickup_datetime=datetime.datetime(2021, 1, 1, 1, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 2, 18, 21), PULocationID=152, DOLocationID=167, trip_miles=3.65, trip_time=1382, base_passenger_fare=18.36, tolls=0.0, bcf=0.55, sales_tax=1.63, congestion_surcharge=0.0, airport_fee=None, tips=0.0, driver_pay=17.06, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=' ', wav_request_flag='N', wav_match_flag='N')]

In [36]:
# Save DataFrame as CSV
csv_output_path = "fhvhv_tripdata_2021-01"
df.write.csv(csv_output_path, header=True, mode="overwrite")

In [37]:
# Initialize Spark session
df = spark.read.csv(csv_output_path)
df.head(5)

[Row(_c0='hvfhs_license_num', _c1='dispatching_base_num', _c2='originating_base_num', _c3='request_datetime', _c4='on_scene_datetime', _c5='pickup_datetime', _c6='dropoff_datetime', _c7='PULocationID', _c8='DOLocationID', _c9='trip_miles', _c10='trip_time', _c11='base_passenger_fare', _c12='tolls', _c13='bcf', _c14='sales_tax', _c15='congestion_surcharge', _c16='airport_fee', _c17='tips', _c18='driver_pay', _c19='shared_request_flag', _c20='shared_match_flag', _c21='access_a_ride_flag', _c22='wav_request_flag', _c23='wav_match_flag'),
 Row(_c0='HV0003', _c1='B02682', _c2='B02682', _c3='2021-01-01T01:28:09.000+01:00', _c4='2021-01-01T01:31:42.000+01:00', _c5='2021-01-01T01:33:44.000+01:00', _c6='2021-01-01T01:49:07.000+01:00', _c7='230', _c8='166', _c9='5.26', _c10='923', _c11='22.28', _c12='0.0', _c13='0.67', _c14='1.98', _c15='2.75', _c16=None, _c17='0.0', _c18='14.99', _c19='N', _c20='N', _c21=None, _c22='N', _c23='N'),
 Row(_c0='HV0003', _c1='B02682', _c2='B02682', _c3='2021-01-01T01:45:56.000+01:00', _c4='2021-01-01T01:55:19.000+01:00', _c5='2021-01-01T01:55:19.000+01:00', _c6='2021-01-01T02:18:21.000+01:00', _c7='152', _c8='167', _c9='3.65', _c10='1382', _c11='18.36', _c12='0.0', _c13='0.55', _c14='1.63', _c15='0.0', _c16=None, _c17='0.0', _c18='17.06', _c19='N', _c20='N', _c21=None, _c22='N', _c23='N'),
 Row(_c0='HV0003', _c1='B02764', _c2='B02764', _c3='2021-01-01T01:21:15.000+01:00', _c4='2021-01-01T01:22:41.000+01:00', _c5='2021-01-01T01:23:56.000+01:00', _c6='2021-01-01T01:38:05.000+01:00', _c7='233', _c8='142', _c9='3.51', _c10='849', _c11='14.05', _c12='0.0', _c13='0.48', _c14='1.25', _c15='2.75', _c16=None, _c17='0.94', _c18='12.98', _c19='N', _c20='N', _c21=None, _c22='N', _c23='N'),
 Row(_c0='HV0003', _c1='B02764', _c2='B02764', _c3='2021-01-01T01:39:12.000+01:00', _c4='2021-01-01T01:42:37.000+01:00', _c5='2021-01-01T01:42:51.000+01:00', _c6='2021-01-01T01:45:50.000+01:00', _c7='142', _c8='143', _c9='0.74', _c10='179', _c11='7.91', _c12='0.0', _c13='0.24', _c14='0.7', _c15='2.75', _c16=None, _c17='0.0', _c18='7.41', _c19='N', _c20='N', _c21=None, _c22='N', _c23='N')]

In [38]:
df.show(3)

+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|              _c0|                 _c1|                 _c2|                 _c3|                 _c4|                 _c5|                 _c6|         _c7|         _c8|       _c9|     _c10|               _c11| _c12|_c13|     _c14|                _c15|       _c16|_c17|      _c18|               _c19|             _c20|              _c21|            _c22|          _c23|
+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|hvfhs_license_num|dispatching_base_num|originating_base_num|    request_datetime|   on_scene_datetime|     pickup_datetime|    dropoff_datetime|PULocationID|DOLocationID|trip_miles|trip_time|base_passenger_fare|tolls| bcf|sales_tax|congestion_surcharge|airport_fee|tips|driver_pay|shared_request_flag|shared_match_flag|access_a_ride_flag|wav_request_flag|wav_match_flag|
|           HV0003|              B02682|              B02682|2021-01-01T01:28:...|2021-01-01T01:31:...|2021-01-01T01:33:...|2021-01-01T01:49:...|         230|         166|      5.26|      923|              22.28|  0.0|0.67|     1.98|                2.75|       null| 0.0|     14.99|                  N|                N|              null|               N|             N|
|           HV0003|              B02682|              B02682|2021-01-01T01:45:...|2021-01-01T01:55:...|2021-01-01T01:55:...|2021-01-01T02:18:...|         152|         167|      3.65|     1382|              18.36|  0.0|0.55|     1.63|                 0.0|       null| 0.0|     17.06|                  N|                N|              null|               N|             N|
+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
only showing top 3 rows

In [39]:
!head -n 1001 fhvhv_tripdata_2021-01/part-00003-b3745da6-f656-4cf8-84ab-6a6daa827582-c000.csv > head.csv

In [40]:
!wc -l head.csv

1001 head.csv

In [41]:
import pandas as pd

In [42]:
df_pandas = pd.read_csv('head.csv')
df_pandas.head(5)

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02682,B02682,2021-01-01T01:28:09.000+01:00,2021-01-01T01:31:42.000+01:00,2021-01-01T01:33:44.000+01:00,2021-01-01T01:49:07.000+01:00,230,166,5.26,...,1.98,2.75,NaN,0.00,14.99,N,N,NaN,N,N
1,HV0003,B02682,B02682,2021-01-01T01:45:56.000+01:00,2021-01-01T01:55:19.000+01:00,2021-01-01T01:55:19.000+01:00,2021-01-01T02:18:21.000+01:00,152,167,3.65,...,1.63,0.00,NaN,0.00,17.06,N,N,NaN,N,N
2,HV0003,B02764,B02764,2021-01-01T01:21:15.000+01:00,2021-01-01T01:22:41.000+01:00,2021-01-01T01:23:56.000+01:00,2021-01-01T01:38:05.000+01:00,233,142,3.51,...,1.25,2.75,NaN,0.94,12.98,N,N,NaN,N,N
3,HV0003,B02764,B02764,2021-01-01T01:39:12.000+01:00,2021-01-01T01:42:37.000+01:00,2021-01-01T01:42:51.000+01:00,2021-01-01T01:45:50.000+01:00,142,143,0.74,...,0.70,2.75,NaN,0.00,7.41,N,N,NaN,N,N
4,HV0003,B02764,B02764,2021-01-01T01:46:11.000+01:00,2021-01-01T01:47:17.000+01:00,2021-01-01T01:48:14.000+01:00,2021-01-01T02:08:42.000+01:00,143,78,9.20,...,2.41,2.75,NaN,0.00,22.44,N,N,NaN,N,N

In [47]:
df_pandas[['trip_miles','trip_time','shared_request_flag', 'shared_match_flag' ]].head(3)

   trip_miles  trip_time shared_request_flag shared_match_flag
0        5.26        923                   N                 N
1        3.65       1382                   N                 N
2        3.51        849                   N                 N

In [45]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
originating_base_num     object
request_datetime         object
on_scene_datetime        object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
trip_miles              float64
trip_time                 int64
base_passenger_fare     float64
tolls                   float64
bcf                     float64
sales_tax               float64
congestion_surcharge    float64
airport_fee             float64
tips                    float64
driver_pay              float64
shared_request_flag      object
shared_match_flag        object
access_a_ride_flag       object
wav_request_flag         object
wav_match_flag           object
dtype: object

In [52]:
# import necessary types
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType, FloatType

In [57]:
# Define the schema
schema = StructType([
    StructField(name="hvfhs_license_num", dataType=StringType(), nullable=True),
    StructField(name="dispatching_base_num", dataType=StringType(), nullable=True),
    StructField(name="originating_base_num", dataType=StringType(), nullable=True),
    StructField(name="request_datetime", dataType=TimestampType(), nullable=True),
    StructField(name="on_scene_datetime", dataType=TimestampType(), nullable=True),
    StructField(name="pickup_datetime", dataType=TimestampType(), nullable=True),
    StructField(name="dropoff_datetime", dataType=TimestampType(), nullable=True),
    StructField(name="PULocationID", dataType=IntegerType(), nullable=True),
    StructField(name="DOLocationID", dataType=IntegerType(), nullable=True),
    StructField(name="trip_miles", dataType=FloatType(), nullable=True),
    StructField(name="trip_time", dataType=IntegerType(), nullable=True),
    StructField(name="base_passenger_fare", dataType=FloatType(), nullable=True),
    StructField(name="tolls", dataType=FloatType(), nullable=True),
    StructField(name="bcf", dataType=FloatType(), nullable=True),
    StructField(name="sales_tax", dataType=FloatType(), nullable=True),
    StructField(name="congestion_surcharge", dataType=FloatType(), nullable=True),
    StructField(name="airport_fee", dataType=FloatType(), nullable=True),
    StructField(name="tips", dataType=FloatType(), nullable=True),
    StructField(name="driver_pay", dataType=FloatType(), nullable=True),
    StructField(name="shared_request_flag", dataType=StringType(), nullable=True),
    StructField(name="shared_match_flag", dataType=StringType(), nullable=True),
    StructField(name="access_a_ride_flag", dataType=StringType(), nullable=True),
    StructField(name="wav_request_flag", dataType=StringType(), nullable=True),
    StructField(name="wav_match_flag", dataType=StringType(), nullable=True),
])

In [58]:
df = spark.read.option('header', 'true').schema(schema).csv(csv_output_path)
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', originating_base_num='B02682', request_datetime=datetime.datetime(2021, 1, 1, 1, 28, 9), on_scene_datetime=datetime.datetime(2021, 1, 1, 1, 31, 42), pickup_datetime=datetime.datetime(2021, 1, 1, 1, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 49, 7), PULocationID=230, DOLocationID=166, trip_miles=5.260000228881836, trip_time=923, base_passenger_fare=22.280000686645508, tolls=0.0, bcf=0.6700000166893005, sales_tax=1.9800000190734863, congestion_surcharge=2.75, airport_fee=None, tips=0.0, driver_pay=14.989999771118164, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=None, wav_request_flag='N', wav_match_flag='N'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', originating_base_num='B02682', request_datetime=datetime.datetime(2021, 1, 1, 1, 45, 56), on_scene_datetime=datetime.datetime(2021, 1, 1, 1, 55, 19), pickup_datetime=datetime.datetime(2021, 1, 1, 1, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 2, 18, 21), PULocationID=152, DOLocationID=167, trip_miles=3.6500000953674316, trip_time=1382, base_passenger_fare=18.360000610351562, tolls=0.0, bcf=0.550000011920929, sales_tax=1.6299999952316284, congestion_surcharge=0.0, airport_fee=None, tips=0.0, driver_pay=17.059999465942383, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=None, wav_request_flag='N', wav_match_flag='N'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', originating_base_num='B02764', request_datetime=datetime.datetime(2021, 1, 1, 1, 21, 15), on_scene_datetime=datetime.datetime(2021, 1, 1, 1, 22, 41), pickup_datetime=datetime.datetime(2021, 1, 1, 1, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 38, 5), PULocationID=233, DOLocationID=142, trip_miles=3.509999990463257, trip_time=849, base_passenger_fare=14.050000190734863, tolls=0.0, bcf=0.47999998927116394, sales_tax=1.25, congestion_surcharge=2.75, airport_fee=None, tips=0.9399999976158142, driver_pay=12.979999542236328, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=None, wav_request_flag='N', wav_match_flag='N'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', originating_base_num='B02764', request_datetime=datetime.datetime(2021, 1, 1, 1, 39, 12), on_scene_datetime=datetime.datetime(2021, 1, 1, 1, 42, 37), pickup_datetime=datetime.datetime(2021, 1, 1, 1, 42, 51), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 45, 50), PULocationID=142, DOLocationID=143, trip_miles=0.7400000095367432, trip_time=179, base_passenger_fare=7.909999847412109, tolls=0.0, bcf=0.23999999463558197, sales_tax=0.699999988079071, congestion_surcharge=2.75, airport_fee=None, tips=0.0, driver_pay=7.409999847412109, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=None, wav_request_flag='N', wav_match_flag='N'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', originating_base_num='B02764', request_datetime=datetime.datetime(2021, 1, 1, 1, 46, 11), on_scene_datetime=datetime.datetime(2021, 1, 1, 1, 47, 17), pickup_datetime=datetime.datetime(2021, 1, 1, 1, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 2, 8, 42), PULocationID=143, DOLocationID=78, trip_miles=9.199999809265137, trip_time=1228, base_passenger_fare=27.110000610351562, tolls=0.0, bcf=0.8100000023841858, sales_tax=2.4100000858306885, congestion_surcharge=2.75, airport_fee=None, tips=0.0, driver_pay=22.440000534057617, shared_request_flag='N', shared_match_flag='N', access_a_ride_flag=None, wav_request_flag='N', wav_match_flag='N')]

In [59]:
df = df.repartition(24)

In [61]:
df.write.parquet('fhvhv/2021/01/')

24/02/24 14:44:49 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:00 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:01 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:03 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:07 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:24 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 14:45:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [62]:
df = spark.read.parquet('fhvhv/2021/01/')
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- originating_base_num: string (nullable = true)
 |-- request_datetime: timestamp (nullable = true)
 |-- on_scene_datetime: timestamp (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- trip_miles: float (nullable = true)
 |-- trip_time: integer (nullable = true)
 |-- base_passenger_fare: float (nullable = true)
 |-- tolls: float (nullable = true)
 |-- bcf: float (nullable = true)
 |-- sales_tax: float (nullable = true)
 |-- congestion_surcharge: float (nullable = true)
 |-- airport_fee: float (nullable = true)
 |-- tips: float (nullable = true)
 |-- driver_pay: float (nullable = true)
 |-- shared_request_flag: string (nullable = true)
 |-- shared_match_flag: string (nullable = true)
 |-- access_a_ride_flag: string (nullable = true)
 |-- wav_request_flag: string (nullable = true)
 |-- wav_match_flag: string (nullable = true)

In [64]:
from pyspark.sql import functions as F

In [65]:
df_trans_1 = df.withColumn('pickup_date', F.to_date(df.pickup_datetime))\
                .withColumn('dropoff_date', F.to_date(df.dropoff_datetime))\
                .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') 
df_trans_1.show(10)

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-01-02|  2021-01-02|         116|         132|
| 2021-01-02|  2021-01-02|          61|          37|
| 2021-01-01|  2021-01-01|         241|         263|
| 2021-01-01|  2021-01-01|         129|          36|
| 2021-01-01|  2021-01-01|          89|          91|
| 2021-01-01|  2021-01-01|         174|           7|
| 2021-01-02|  2021-01-02|          95|          95|
| 2021-01-01|  2021-01-01|         244|         244|
| 2021-01-02|  2021-01-02|          17|          25|
| 2021-01-02|  2021-01-02|          79|         148|
+-----------+------------+------------+------------+
only showing top 10 rows

In [66]:
spark.stop()