# Module 1 Homework

## Docker & SQL

**Question 1. Knowing docker tags**
Run the command to get information on Docker

docker --help

Now run the command to get help on the "docker build" command:

docker build --help

Do the same for "docker run".

Which tag has the following text? - Automatically remove the container when it exits

**ANSWER: --rm**

## Question 2. Understanding docker first run
Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash. Now check the python modules that are installed ( use pip list ).

What is the version of the package wheel?

**ANSWER: 0.42.0**

In [3]:
def unzip_csv_gz(input_file, output_file):
    with gzip.open(input_file, 'rb') as f_in:
        with open(output_file, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

In [14]:
import os
import gzip
import shutil

In [15]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz'
green_trip_data_csv = 'green_tripdata_2019_9.csv'
green_trip_data_csv_gz  = 'green_tripdata_2019_9.csv.gz'
    
# os.system(f"wget {url} -O {green_trip_data_csv_gz}")
print(f"Unzipping {green_trip_data_csv_gz} to {green_trip_data_csv}...")
unzip_csv_gz(green_trip_data_csv_gz, green_trip_data_csv)
print("Unzip complete.")

Unzipping green_tripdata_2019_9.csv.gz to green_tripdata_2019_9.csv...
Unzip complete.

In [16]:
url = 'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv'
taxi_zone_lookup = 'taxi_zone_lookup.csv'
    
os.system(f"wget {url} -O {taxi_zone_lookup}")

--2024-01-25 12:37:33--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.139.32, 52.217.169.120, 52.217.199.152, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.139.32|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

     0K .......... ..                                         100% 1.45M=0.008s

2024-01-25 12:37:34 (1.45 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

0

In [17]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [19]:
import pandas as pd
df = pd.read_csv(green_trip_data_csv, nrows=100)
df.head(n=3)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0

In [20]:
table = 'green_trip_data'
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
print(pd.io.sql.get_schema(df, name=table))

CREATE TABLE "green_trip_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [21]:
df_iter = pd.read_csv(green_trip_data_csv, iterator=True, chunksize=100000)
df = next(df_iter)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.head(n=0).to_sql(name=table, con=engine, if_exists='replace')
df.to_sql(name=table, con=engine, if_exists='append')

1000

In [22]:
from time import time
while True:
    t_start = time()
    
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name=table, con=engine, if_exists='append')

    t_end = time()

    print(f"Inserted another chunk..., and it took {t_end - t_start}")

Inserted another chunk..., and it took 16.68092942237854
Inserted another chunk..., and it took 16.100798845291138

/tmp/ipykernel_6537/2660871614.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk..., and it took 16.381404161453247
Inserted another chunk..., and it took 6.977352619171143

StopIteration:

In [23]:
df = pd.read_csv(taxi_zone_lookup, nrows=100)
df.head(n=3)

   LocationID Borough                     Zone service_zone
0           1     EWR           Newark Airport          EWR
1           2  Queens              Jamaica Bay    Boro Zone
2           3   Bronx  Allerton/Pelham Gardens    Boro Zone

In [24]:
table_2 = 'taxi_zone_lookup'
print(pd.io.sql.get_schema(df, name=table_2))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [25]:
df_iter = pd.read_csv(taxi_zone_lookup)
df_iter.shape

(265, 4)

In [26]:
df_iter.head(n=0).to_sql(name=table_2, con=engine, if_exists='replace')
df_iter.to_sql(name=table_2, con=engine, if_exists='append')

265

# Question 3. Count records
How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

**ANSWER: 15612**

In [31]:
# SQL STATEMENT
print("""SELECT COUNT(1) FROM green_trip_data 
WHERE 
	lpep_pickup_datetime BETWEEN '2019-09-18 00:00:00' AND '2019-09-18 23:59:59' AND 
	lpep_dropoff_datetime BETWEEN '2019-09-18 00:00:00' AND '2019-09-18 23:59:59';
""")

SELECT COUNT(1) FROM green_trip_data
WHERE
	lpep_pickup_datetime BETWEEN '2019-09-18 00:00:00' AND '2019-09-18 23:59:59' AND
	lpep_dropoff_datetime BETWEEN '2019-09-18 00:00:00' AND '2019-09-18 23:59:59';

## Question 4. Largest trip for each day
Which was the pick up day with the largest trip distance Use the pick up time for your calculations.

**ANSWER: 2019-09-26**

In [33]:
# SQL STATEMENT 
""" SELECT MAX(trip_distance) FROM green_trip_data ;
    SELECT lpep_pickup_datetime FROM green_trip_data 
    WHERE trip_distance = 341.64;
"""
print("""WITH MaxTripDistance AS (
    SELECT MAX(trip_distance) AS max_distance
    FROM green_trip_data
)

SELECT lpep_pickup_datetime
FROM green_trip_data
WHERE trip_distance = (SELECT max_distance FROM MaxTripDistance);
""")

WITH MaxTripDistance AS (
    SELECT MAX(trip_distance) AS max_distance
    FROM green_trip_data
)

SELECT lpep_pickup_datetime
FROM green_trip_data
WHERE trip_distance = (SELECT max_distance FROM MaxTripDistance);

## Question 5. Three biggest pick up Boroughs
Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

In [ ]:
SELECT taxi_zone_lookup.*, green_trip_data."total_amount"
FROM taxi_zone_lookup
JOIN green_trip_data ON "PULocationID" = "LocationID"  
WHERE green_trip_data.total_amount > 5000;